<mtapp:setting
  id="css_mode"
  label="CSS Mode">
    <input type="radio" name="css_mode" value="1"<mt:if name="css_mode" eq="1">checked="checked"</mt:if> />
    LESS
    <input type="radio" name="css_mode" value="2"<mt:if name="css_mode" eq="2">checked="checked"</mt:if> />
    Sass
    <input type="radio" name="css_mode" value="3"<mt:if name="css_mode" eq="3">checked="checked"</mt:if> />
    SCSS
</mtapp:setting>

